/*#region Header*/
body{
    padding:0;
    margin:0;
    background-color: #F1EFEC;
    color:#030303;
}
a{
    text-decoration: none;
    color: #030303;
    padding:30px;
}
nav{
    height: 60px;
    background-color: #D4C9BE;
    align-content: center;
}
header{
    display: flex;
    background-color: #123458;
    justify-content: end;
    padding-right: 30px;
}
/*#endregion*/

.tableContainer{
    background-color: #123458;
    padding:10px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
table.custom-table{
    width: 70%;
}